<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Электронный дневничок{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/favicon.svg">
    <!-- подключили новый стиль -->
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head>
<body>
    <div id="root">{% block content %}{% endblock %}</div>
    {% block scripts %}{% endblock %}
</body>
</html>